body {
    background-image: url(../images/pantheons.png);
   background-size: cover;
}
header {
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    background-color: black; 
}
.container {
    text-align: center;
}